# fly.toml app configuration file
# Documentation: https://fly.io/docs/reference/configuration/

app = "botdidivoccal"
primary_region = "cdg"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"
    method = "GET"
    path = "/health"

[env]
  PORT = "3000"
